.wrap {
  padding: 0 2rem 7rem 2rem;
  margin: 0 auto;
}

.wrap:not(.code) {
  max-width: 800px;
}

.logo-wrap {
  text-align: center;
  padding: 3rem 0 5rem 0;
}

.logo {
  background-image: url(../img/logo.svg);
  background-size: contain;
  display: inline-block;
  width: 65px;
  height: 65px;
}

.content-wrap img {
  margin: 1.5em auto 3em auto;
}

.content-wrap h1 {
  border: none;
  font-weight: 900;
  letter-spacing: 1.3px;
  font-size: 2.5em;
}

.content-wrap h2 {
  border: none;
}

.big-emoji {
  font-size: 45px;
}

footer {
  font-size: 13px;
  color: #adadad;
  text-align: center;
}

footer small {
  font-size: 11px;
}

footer strong {
  color: #014adc;
}

footer .wrap a {
  color: #5183bd;
}

@media (prefers-color-scheme: dark) {
  .markdown-body,
  [data-theme="dark"] {
    --color-canvas-default: #171717;
    --color-fg-default: #dcdcdc;

    .hljs {
      color: #ffb522;
    }
  }
}